.blue {
    background-color: blue;
    color: #fff;
}

#some {
    border: solid 2px red;
}

.extra {
    width: 300px;
}

.card-container {
    display: flex;
}

footer {
    background-color: #f8f9fa;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
}